In [3]:
import pandas as pd

In [5]:
films = {'Название': [], 'Кем добавлен': [], 'Статус': []}

In [6]:
data = pd.DataFrame(films)
data

Empty DataFrame
Columns: [Название, Добавил, Статус]
Index: []

In [16]:
data.to_csv(path_or_buf='film_database.csv', index=False)

In [17]:
a = pd.read_csv('film_database.csv')
a

Empty DataFrame
Columns: [Название, Добавил, Статус]
Index: []